@{
	Layout = "~/Views/Shared/_LayoutEspecifico.cshtml";
}
<section>
<div class="row">
	<div class="col-lg-3">
		<h1>Conteúdo da Aula</h1>
	</div>
	<div class="col-lg-8">
<pre>@ViewBag.conteudoAula</pre>
	</div>
</div>
</section>
<hr>
